@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #242424;
}
